h1 {
	width: 100%;
	font-size: 40px;
	text-align: center;
}
p {
	width: 100%;
	font-size: 40px;
	text-align: center;
}
   .menu {
    position: fixed; /* Фиксированное положение */
    left:  10px; /* Расстояние от правого края окна браузера */
    top: 20%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */ 
    background: #ffe; /* Цвет фона */ 
    border: 1px solid #333; /* Параметры рамки */ 
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main{
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}
p {
	text-align: center;
}
img {
	width:55px;
}
body{

	background-image: url(../img/e226d5622dbdbf053e84b36428fee109.jpg);
	font-family: Roboto;
}
.img
.photo1 {
	background-image: url(../img/img101.jpg);
}
.category-wrap {
  position: fixed;
  padding: 15px;
  background: white;
  width: 200px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.category-wrap h3 {
  font-size: 16px;
  color: rgba(0,0,0,.6);
  margin: 0 0 10px;
  padding: 0 5px;
  position: relative;
}
.category-wrap h3:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #80C8A0;
  position: absolute;
  right: 5px;
  bottom: 2px;
  box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
}
.category-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  border-top: 1px solid rgba(0,0,0,.3);
}
.category-wrap li {margin: 12px 0 0 0px;}
.category-wrap a {
  text-decoration: none;
  display: block;  
  font-size: 13px;
  color: rgba(0,0,0,.6);
  padding: 5px;
  position: relative;
  transition: .3s linear;
}
.category-wrap a:after {
  content:"\f18e";
  font-family: FontAwesome;
  position: absolute;
  right: 5px;
  color: white;
  transition: .2s linear;
}
.category-wrap a:hover {
  background: #80C8A0;
  color: white;
}
.header-wrap{ background:#000 url(../img/bg2.jpg) repeat-x; height:150px; width:100%; }
.logo{ width:360px; margin:0 auto;}
.logo h1{ color:#ffffff; font-size:45px; font-weight: normal; padding-top:70px; padding-bottom:40px;}
h2 {
	width: 100%;
	font-size: 40px;
	text-align: center;
	color: white;
}